# Build Dir
build/*

# General
*.o
*.so
*.d
*.DIR
ceed.pc
config.mk
.prove

# Mac specific
.DS_Store
*.dSYM
*~
*.dylib

# Coverage
*.gcno
*.gcda
*.gcov

# Debugging
vgcore*
*.json

# Python
dist
*egg*
.pytest_cache
*cffi.so
*cffi.dylib
__pycache__/
.ipynb_checkpoints/

# Documentation
xml/*
doc/html
doc/sphinx/build/
# Example docs automatically copied from source tree
doc/sphinx/source/examples/

# Editor Misc
.history
.vscode
.ccls-cache
.vim
libCEED.cflags
libCEED.config
libCEED.creator
libCEED.creator.*
libCEED.cxxflags
libCEED.files
libCEED.includes
