# Canonical names for contributors, to simplify inconsistent use of
# initials, for example. We also repair email addresses that are not
# used or that cannot deliver mail. Could also be used to remap
# addresses to current versions, though we don't do that here.

#
# See 'git help shortlog' for details

Jean-Sylvain Camier <camier1@llnl.gov>
Jeremy Thompson <jeremy.thompson@colorado.edu>
Jeremy Thompson <jeremy.thompson@colorado.edu>          <25011573+jeremylt@users.noreply.github.com>
Thilina Rathnayake <thilinarmtb@gmail.com>              <thilinarmtb@users.noreply.github.com>
Tzanio Kolev <tzanio@llnl.gov>
David Medina <dmed256@gmail.com>
Valeria Barra <valeriabarra21@gmail.com>
Valeria Barra <valeriabarra21@gmail.com>                <valeria.barra@colorado.edu>
Valeria Barra <valeriabarra21@gmail.com>                <vaba3353@shas0136.rc.int.colorado.edu>
Valeria Barra <valeriabarra21@gmail.com>                <vaba3353@shas0137.rc.int.colorado.edu>
Valeria Barra <valeriabarra21@gmail.com>                <39932030+valeriabarra@users.noreply.github.com>
Yohann Dudouit <yohann.dudouit@gmail.com>
Yohann Dudouit <yohann.dudouit@gmail.com>               <dudouit1@llnl.gov>
