# Canonical names for contributors, to simplify inconsistent use of
# initials, for example. We also repair email addresses that are not
# used or that cannot deliver mail. Could also be used to remap
# addresses to current versions, though we don't do that here.

#
# See 'git help shortlog' for details

Ahmad Abdelfattah <ahmad@icl.utk.edu>                   <36712794+abdelfattah83@users.noreply.github.com>
Arash Mehraban <arashm81@gmail.com>                     <ArashMehraban@users.noreply.github.com>
David Medina <dmed256@gmail.com>
James Wright <james@jameswright.xyz>                    <jameswright@jameswright.xyz>
Jean-Sylvain Camier <camier1@llnl.gov>
Jeremy L. Thompson <jeremy@jeremylt.org>
Jeremy L. Thompson <jeremy@jeremylt.org>                <25011573+jeremylt@users.noreply.github.com>
Jeremy L. Thompson <jeremy@jeremylt.org>                <jeth8984@noether>
Jeremy L. Thompson <jeremy@jeremylt.org>                <jeremy.thompson@colorado.edu>
Jeremy L. Thompson <jeremy@jeremylt.org>                <thompson.jeremy.luke@gmail.com>
Leila Ghaffari <Leila.Ghaffari@colorado.edu>            <49916147+LeilaGhaffari@users.noreply.github.com>
Leila Ghaffari <Leila.Ghaffari@colorado.edu>            <leila@Leilas-MacBook-Pro.local>
Natalie Beams <nbeams@icl.utk.edu>                      <246972+nbeams@users.noreply.github.com>
Rey Koki <rey.koki@colorado.edu>                        <36133157+reykoki@users.noreply.github.com>
Rezgar Shakeri <Rezgar.Shakeri@colorado.edu>            <42816410+rezgarshakeri@users.noreply.github.com>
Thilina Ratnayaka <thilinarmtb@gmail.com>               <thilinarmtb@users.noreply.github.com>
Tzanio Kolev <tzanio@llnl.gov>
Valeria Barra <valeriabarra21@gmail.com>
Valeria Barra <valeriabarra21@gmail.com>                <39932030+valeriabarra@users.noreply.github.com>
Valeria Barra <valeriabarra21@gmail.com>                <vaba3353@shas0136.rc.int.colorado.edu>
Valeria Barra <valeriabarra21@gmail.com>                <vaba3353@shas0137.rc.int.colorado.edu>
Valeria Barra <valeriabarra21@gmail.com>                <valeria.barra@colorado.edu>
Will Pazner <will.e.p@gmail.com>                        <11493037+pazner@users.noreply.github.com>
Yohann Dudouit <yohann.dudouit@gmail.com>
Yohann Dudouit <yohann.dudouit@gmail.com>               <dudouit1@llnl.gov>
