language: c

os:
  - linux
  - osx

dist: xenial

osx_image: xcode10.2

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
    - gfortran
    - liblapack-dev
    - libopenblas-dev
    - valgrind-dbg
  homebrew:
    packages:
    - ccache
    - gcc
    - lapack
    - openblas

env:
  - FC=gfortran

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        export PATH="/usr/local/opt/ccache/libexec:$PATH"
        && brew link --overwrite gcc;
    fi
# OCCA
  - git clone --depth 1 https://github.com/libocca/occa.git;
  - make -C occa -j2
  - export OCCA_DIR=$PWD/occa
# libXSMM
  - git clone --depth 1 https://github.com/hfp/libxsmm.git;
  - make -C libxsmm -j2
  - export XSMM_DIR=$PWD/libxsmm
# MFEM
  - git clone --depth 1 https://github.com/mfem/mfem.git;
  - make -C mfem -j2 serial CXXFLAGS="-O -std=c++11"
  - export MFEM_DIR=$PWD/mfem
# Nek5k
  - git clone --depth 1 https://github.com/Nek5000/Nek5000.git;
  - cd Nek5000/tools && ./maketools genbox genmap reatore2 && cd ../..;
  - export NEK5K_DIR=$PWD/Nek5000 PATH=$PWD/Nek5000/bin:$PATH MPI=0;
# PETSc
  - export PETSC_INSTALL=$HOME/install/petsc-3.11.0
  - test -s "$PETSC_INSTALL/lib/pkgconfig/PETSc.pc"
        || ( curl -O http://ftp.mcs.anl.gov/pub/petsc/release-snapshots/petsc-lite-3.11.0.tar.gz
        && tar xf petsc-lite-3.11.0.tar.gz
        && cd petsc-3.11.0
        && ./configure --with-debugging=0 COPTFLAGS=-O --with-mpi=0 --with-fc=0 --with-cxx=0 --prefix=$PETSC_INSTALL
        && make
        && make install )
  - export PETSC_DIR=$PETSC_INSTALL

script:
  - export COVERAGE=1
  - make -j2
  - make -j2 prove-all PROVE_OPTS=-v
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        clang-tidy --version && make -j2 tidy;
    fi

after_success:
  - bash <(curl -s https://codecov.io/bash) -F interface
  - bash <(curl -s https://codecov.io/bash) -F backends
  - bash <(curl -s https://codecov.io/bash) -F tests
  - bash <(curl -s https://codecov.io/bash) -F examples

cache:
  ccache: true
  directories:
  - $HOME/install
  - $HOME/Library/Caches/Homebrew
