altair>=4.1
breathe>=4.30
myst-parser[linkify]>=0.14.0
sphinx-hoverxref>=0.3b1
sphinx-panels
sphinx>=4.3
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.1.1
sphinxcontrib-katex
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter
