sphinx==3.5.4
altair>=4.1
breathe>=4.17
markdown==3.2.1
recommonmark
sphinx_rtd_theme
sphinxcontrib-bibtex>=2.1.1
sphinxcontrib-katex
sphinxcontrib-mermaid
sphinxcontrib-svg2pdfconverter
sphinx-hoverxref>=0.3b1
sphinx-markdown-tables
sphinx-panels
